Block(
    name: "Spruce Leaves",

    texture: "blocks/oak_leaves/all",
    render: alpha_test,
    tint: foliage,

    hardness: 0.25,
    blast_resistance: 0.75,
    solid: true,

    tool: shears,
    drops: nothing,
    stack: 99,
    sound: leaves,

    decays: true,
    tags: [leaves, foliage, flammable],
)
