Object(
    name: "Stone Axe",
    tags: ["#core:tag/item/tool", "#core:tag/tool/axe", "#core:tag/tier/1"],

    item: (
        stack: 1,
        category: tool,
        visible_in_inventory: true,
        inventory_icon: texture("core:texture/items/tools/stone_axe"),
        world_model: "core:voxel_model/equipment/tools/axe_stone",
    ),

    tool: (
        type: axe,
        tier: 1,
        speed: 4.0,
        durability: 132,
    ),

    recipes: [(
        station: "#core:tag/station/construction",
        kind: shaped((
            pattern: [
                "SS",
                "SF",
                " F",
            ],
            legend: { "S": "core:object/terrain/stone", "F": "core:object/resources/plant_fiber" },
        )),
        output: (item: "core:object/tools/stone_axe", count: 1),
    )],
)
