Object(
    name: "Stone Shovel",
    tags: [tool, shovel, tier_1],

    item: (
        stack: 1,
        icon: "items/tools/stone_shovel",
        model: "voxel/equipment/tools/shovel_stone",
    ),

    tool: (
        type: shovel,
        tier: 1,
        speed: 4.0,
        durability: 132,
    ),

    recipe: (
        station: "#station.construction",
        shaped: [
            " S ",
            " F ",
            " F ",
        ],
        legend: { S: stone, F: plant_fiber },
        output: (item: stone_shovel, count: 1),
    ),
)
