Object(
    name: "Stone Axe",
    tags: ["tool", "axe", "tier_1"],

    item: (
        stack: 1,
        icon: "items/tools/stone_axe",
        model: "voxel/equipment/tools/axe_stone",
    ),

    tool: (
        type: axe,
        tier: 1,
        speed: 4.0,
        durability: 132,
    ),

    recipes: [(
        station: "#station.construction",
        kind: shaped((
            pattern: [
                "SS",
                "SF",
                " F",
            ],
            legend: { "S": "stone", "F": "plant_fiber" },
        )),
        output: (item: "stone_axe", count: 1),
    )],
)
