Object(
    name: "Wooden Pickaxe",
    tags: ["tool", "pickaxe", "tier_0"],

    item: (
        stack: 1,
        icon: "items/tools/wooden_pickaxe",
        model: "voxel/equipment/tools/pickaxe_wood",
    ),

    tool: (
        type: pickaxe,
        tier: 0,
        speed: 2.0,
        durability: 59,
    ),

    recipes: [(
        station: "#station.construction",
        kind: shaped((
            pattern: [
                "LLL",
                " F ",
                " F ",
            ],
            legend: { "L": "oak_log", "F": "plant_fiber" },
        )),
        output: (item: "wooden_pickaxe", count: 1),
    )],
)
