Object(
    name: "Andesite",
    tags: ["terrain", "stone"],

    block: (
        texture: all("blocks/andesite/all"),
        render: opaque,
        hardness: 1.5,
        sound: stone,
    ),

    item: ( stack: 99 ),

    mining: (
        tool: pickaxe,
    ),
)
