// Planet Core — the innermost unbreakable layer.
Object(
    name: "Planet Core",
    tags: ["#core:tag/block/terrain", "#core:tag/block/unbreakable", "#core:tag/block/core"],

    block: (
        texture: all("blocks/bedrock/all"),
        render: opaque,
        hardness: -1.0,
        sound: stone,
    ),
)
