Object(
    name: "Deepslate",
    tags: ["#core:tag/block/terrain", "#core:tag/material/stone"],

    block: (
        shape: column,
        texture: column(
            top:  "blocks/deepslate/top",
            side: "blocks/deepslate/side",
        ),
        render: opaque,
        hardness: 3.0,
        sound: stone,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    mining: (
        tool: pickaxe,
        tier: 1,
    ),
)
