Object(
    name: "Dirt",
    tags: ["terrain", "soil"],

    block: (
        texture: all("blocks/dirt/all"),
        render: opaque,
        hardness: 0.5,
        sound: dirt,
    ),

    item: ( stack: 99 ),

    mining: (
        tool: shovel,
        drops: [],
    ),
)
