Object(
    name: "Dirt",
    tags: ["#core:tag/block/terrain", "#core:tag/material/soil"],

    block: (
        texture: all("blocks/dirt/all"),
        render: opaque,
        hardness: 0.5,
        sound: dirt,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    mining: (
        tool: shovel,
        drops: [(item: "core:object/terrain/dirt")],
    ),
)
