Object(
    name: "Red Sand",
    tags: ["#core:tag/block/terrain", "#core:tag/material/sand"],

    block: (
        texture: all("blocks/red_sand/all"),
        render: opaque,
        hardness: 0.5,
        sound: sand,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    mining: (
        tool: shovel,
        drops: [],
    ),
)
