Object(
    name: "Snow",
    tags: ["#core:tag/block/terrain", "#core:tag/material/snow"],

    block: (
        texture: all("blocks/powder_snow/all"),
        render: opaque,
        hardness: 0.2,
        sound: snow,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    mining: (
        tool: shovel,
        drops: [],
    ),
)
