ShaderModule(
    language: wgsl,
    imports: [
        "core:render/shader_modules/math/constants",
    ],
    feature_class: "lighting",
    contracts: [
        "core:render/shader_contracts/lighting_globals",
    ],
    allow_override: true,
)

