Object(
    name: "Rabbit",
    tags: ["#core:tag/entity/animal", "#core:tag/entity/passive", "#core:tag/entity/small_herbivore"],

    entity: (
        model:     "core:voxel_model/creatures/rabbit/male",
        ai:        passive_wanderer,
        health:    6,
        move_speed: 1.8,
        jump:      0.6,
    ),

    loot: (
        when_killed: [
            (item: "core:object/resources/plant_fiber", count: (1, 2), chance: 0.8),
        ],
    ),
)
