(
    display_key: Some("item.voxelverse.dirt"),
    stack_max: 64,
    weight: 0.45,
    tags: ["voxelverse:block_item"],
    kind: (
        type: "block",
        block: "voxelverse:dirt",
    ),
)
