(
    display_key: Some("item.voxelverse.gravel"),
    stack_max: 64,
    weight: 0.55,
    tags: ["voxelverse:block_item"],
    kind: (
        type: "block",
        block: "voxelverse:gravel",
    ),
)
