(
    display_key: Some("item.voxelverse.sand"),
    stack_max: 64,
    weight: 0.5,
    tags: ["voxelverse:block_item"],
    kind: (
        type: "block",
        block: "voxelverse:sand",
    ),
)
