(
    display_key: Some("item.voxelverse.shovel_wood"),
    stack_max: 1,
    weight: 0.35,
    tags: ["voxelverse:tool"],
    kind: (
        type: "tool",
        tool_type: "shovel",
        tool_tier: 1,
        durability: 60,
        mining_speed: 2.2,
        attack_damage: 1.5,
    ),
)
