ShaderContract(
    label: "Material Surface",
    bind_groups: [
        (
            name: "material_surface",
            group: 2,
            bindings: [
                (
                    name: "albedo_array",
                    binding: 0,
                    kind: texture2d_array,
                    visibility: [fragment],
                ),
                (
                    name: "normal_array",
                    binding: 1,
                    kind: texture2d_array,
                    visibility: [fragment],
                ),
                (
                    name: "roughness_array",
                    binding: 2,
                    kind: texture2d_array,
                    visibility: [fragment],
                ),
                (
                    name: "material_sampler",
                    binding: 3,
                    kind: filtering_sampler,
                    visibility: [fragment],
                ),
                (
                    name: "material_flat_colors",
                    binding: 4,
                    kind: storage_buffer_read,
                    visibility: [fragment],
                ),
            ],
        ),
    ],
)
