ShaderModule(
    language: wgsl,
    imports: [
        "core:render/shader_modules/color/tonemap",
        "core:render/shader_modules/post/fxaa",
    ],
    feature_class: "post",
    contracts: [],
    allow_override: true,
)

