BlockDef(
    format_version: 1,
    model: "core:block_model/cube",
    display_name: "Andesite",
    category: "terrain",
    physical: (
        solid: true,
        opaque: true,
        hardness: 1.6,
        blast_resistance: 4.8,
        friction: 0.82,
        restitution: 0.0,
    ),
    visual: (
        render: opaque,
        materials: {
            "py": "core:material/blocks/andesite/andesite_all",
            
"ny": "core:material/blocks/andesite/andesite_all",
            "pz": "core:material/blocks/andesite/andesite_all",
            
"nz": "core:material/blocks/andesite/andesite_all",
            "px": "core:material/blocks/andesite/andesite_all",
            
"nx": "core:material/blocks/andesite/andesite_all",
        },
    ),
    gameplay: (
        preferred_tool: Some("core:tag/item/tool/pickaxe"),
        drops: "core:loot/blocks/andesite",
        placement: grid_aligned,
        replaceable: false,
    ),
    audio: (
        footstep: "core:sound/step/stone",
        break: "core:sound/break/stone",
        place: "core:sound/place/stone",
    ),
    tags: ["core:tag/block/terrain", "core:tag/block/stone"],
)
