Block(
    name: "Deepslate",
    shape: column,

    texture: Column(
        top:  "blocks/deepslate/top",
        side: "blocks/deepslate/side",
    ),
    render: opaque,

    hardness: 3.0,
    blast_resistance: 9.0,

    tool: pickaxe,
    drops: self,
    stack: 99,
    sound: stone,

    tags: [terrain, stone],
)
