Block(
    name: "Red Sand",

    texture: "blocks/red_sand/all",
    render: opaque,

    hardness: 0.5,
    blast_resistance: 1.5,

    tool: shovel,
    drops: self,
    stack: 99,
    sound: sand,

    tags: [terrain, sand],
)
