Block(
    name: "Snow",

    texture: "blocks/powder_snow/all",
    render: opaque,

    hardness: 0.2,
    blast_resistance: 0.6,

    tool: shovel,
    drops: self,
    stack: 99,
    sound: snow,

    tags: [terrain, snow],
)
