// Coal — raw fuel, dropped by coal ore.
Object(
    name: "Coal",
    tags: ["#core:tag/item/resource", "#core:tag/item/fuel"],

    item: (
        stack: 64,
        category: resource,
        visible_in_inventory: true,
        inventory_icon: texture("core:texture/items/resources/coal"),
        world_model: "core:voxel_model/items/coal",
    ),

    fuel: ( duration: 800 ),          // 800 ticks of furnace fuel
)
