(
    kind: block,
    values: [
        "voxelverse:grass",
        "voxelverse:dirt",
        "voxelverse:stone",
        "voxelverse:sand",
        "voxelverse:gravel",
        "voxelverse:water",
        "voxelverse:wood_log",
        "voxelverse:leaves_oak",
        "voxelverse:tall_grass",
        "voxelverse:flower_daisy",
        "voxelverse:flower_blue",
        "voxelverse:coal_ore",
        "voxelverse:iron_ore",
    ],
    extends: [],
)
