(
    pattern: shapeless,
    result: (item: "voxelverse:stick", count: 4),
    ingredients: [
        (type: "item", item: "voxelverse:planks_oak", count: 2),
    ],
    station: None,
    time_seconds: None,
    tags: ["voxelverse:hand_craftable"],
)
