(
    pattern: shaped,
    result: (item: "voxelverse:shovel_wood", count: 1),
    ingredients: [
        (type: "item", item: "voxelverse:planks_oak", count: 1),
        (type: "item", item: "voxelverse:stick", count: 2),
    ],
    station: None,
    time_seconds: None,
    tags: ["voxelverse:hand_craftable"],
)
