RawNoiseFieldDef(
    kind: perlin,
    frequency: 1.6,
    amplitude: 1.0,
    octaves: 5,
    persistence: 0.50,
    lacunarity: 2.05,
    seed_salt: 2010,
    domain_warp: Some((field: "core:warp_large", strength: 0.20)),
)
