ItemDef(
    display_name: "Birch Leaves",
    category: "block",
    stack_size: 99,
    visual: (inventory_icon: "core:icon/blocks/birch_leaves", world_model: BlockItem("core:block/natural/leaves/birch_leaves")),
    gameplay: PlaceBlock("core:block/natural/leaves/birch_leaves"),
    tags: ["core:tag/item/block"],
)
