ItemDef(
    display_name: "Coal Ore",
    category: "block",
    stack_size: 99,
    visual: (inventory_icon: "core:icon/blocks/coal_ore", world_model: BlockItem("core:block/ores/coal_ore")),
    gameplay: PlaceBlock("core:block/ores/coal_ore"),
    tags: ["core:tag/item/block"],
)
