ItemDef(
    display_name: "Dark Oak Log",
    category: "block",
    stack_size: 99,
    visual: (inventory_icon: "core:icon/blocks/dark_oak_log", world_model: BlockItem("core:block/natural/logs/dark_oak_log")),
    gameplay: PlaceBlock("core:block/natural/logs/dark_oak_log"),
    tags: ["core:tag/item/block"],
)
