ItemDef(
    display_name: "Spruce Log",
    category: "block",
    stack_size: 99,
    visual: (inventory_icon: "core:icon/blocks/spruce_log", world_model: BlockItem("core:block/natural/logs/spruce_log")),
    gameplay: PlaceBlock("core:block/natural/logs/spruce_log"),
    tags: ["core:tag/item/block"],
)
