RawBlockDef(
    display_name: "Acacia Log",
    solid: true,
    color: (0.65, 0.42, 0.20),
    hardness: 1.5,
    role: Some(default_place),
    visual: Some((
        tint: (1.55, 0.85, 0.55),
        top: Some((
            albedo: "core:blocks/oak_log/oak_log_top_albedo",
            normal: "core:blocks/oak_log/oak_log_top_normal",
            roughness: "core:blocks/oak_log/oak_log_top_roughness",
        )),
        bottom: Some((
            albedo: "core:blocks/oak_log/oak_log_top_albedo",
            normal: "core:blocks/oak_log/oak_log_top_normal",
            roughness: "core:blocks/oak_log/oak_log_top_roughness",
        )),
        side: Some((
            albedo: "core:blocks/oak_log/oak_log_side_albedo",
            normal: "core:blocks/oak_log/oak_log_side_normal",
            roughness: "core:blocks/oak_log/oak_log_side_roughness",
        )),
    )),
)
