RawBlockDef(
    display_name: "Dandelion",
    solid: false,
    color: (0.94, 0.86, 0.18),
    hardness: 0.0,
    role: Some(default_place),
    visual: Some((
        shape: cross_plane,
        all: Some((
            albedo: "core:blocks/dandelion/dandelion_all_albedo",
            normal: "core:blocks/dandelion/dandelion_all_normal",
            roughness: "core:blocks/dandelion/dandelion_all_roughness",
        )),
    )),
)
