Block(
    name: "Iron Ore",

    texture: "blocks/iron_ore/all",
    render: opaque,

    hardness: 3.0,
    blast_resistance: 9.0,

    tool: pickaxe,
    drops: "iron_ore_chunk",
    stack: 99,
    sound: stone,

    tags: [terrain, ore, stone],
)
