Object(
    name: "Acacia Log",
    tags: [log, wood, flammable],

    block: (
        shape: column,
        texture: Column(
            top:  "blocks/acacia_log/top",
            side: "blocks/acacia_log/side",
        ),
        render: opaque,
        hardness: 1.5,
        sound: wood,
    ),

    item: ( stack: 99 ),

    fuel: ( duration: 300 ),

    mining: (
        tool: axe,
        drops: [self],
    ),
)
