Object(
    name: "Dark Oak Log",
    tags: ["#core:tag/block/log", "#core:tag/material/wood", "#core:tag/material/flammable"],

    block: (
        shape: column,
        texture: column(
            top:  "blocks/dark_oak_log/top",
            side: "blocks/dark_oak_log/side",
        ),
        render: opaque,
        hardness: 1.5,
        sound: wood,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    fuel: ( duration: 300 ),

    mining: (
        tool: axe,
        drops: [],
    ),
)
