Object(
    name: "Dark Oak Leaves",
    tags: ["#core:tag/block/leaves", "#core:tag/material/flammable"],

    block: (
        texture: all("blocks/dark_oak_leaves/all"),
        render: cutout,
        tint: foliage,
        hardness: 0.2,
        sound: grass,
    ),

    item: (
        stack: 99,
        category: block,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    mining: (
        tool: any,
        drops: [],
    ),
)
