Object(
    name: "Oak Log",
    tags: ["log", "wood", "flammable"],

    block: (
        shape: column,
        texture: column(
            top:  "blocks/oak_log/top",
            side: "blocks/oak_log/side",
        ),
        render: opaque,
        hardness: 1.5,
        sound: wood,
    ),

    item: ( stack: 99 ),

    fuel: ( duration: 300 ),

    mining: (
        tool: axe,
        drops: [],
    ),
)
