Object(
    name: "Spruce Leaves",
    tags: ["leaves", "flammable"],

    block: (
        texture: all("blocks/spruce_leaves/all"),
        render: cutout,
        tint: foliage,
        hardness: 0.2,
        sound: grass,
    ),

    item: ( stack: 99 ),

    mining: (
        tool: any,
        drops: [],
    ),
)
