// Armor Workbench — unlocks armor and clothing crafting.
Object(
    name: "Armor Workbench",
    tags: ["#core:tag/station/armor", "#core:tag/station/clothing", "#core:tag/block/furniture"],

    block: (
        texture: cube(
            top:    "blocks/armor_bench/top",
            side:   "blocks/armor_bench/side",
            bottom: "blocks/armor_bench/bottom",
        ),
        render: opaque,
        hardness: 2.5,
        sound: wood,
    ),

    item: (
        stack: 1,
        category: station,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    station: (
        type: workbench,),

    mining: (
        tool: axe,
    ),

    recipes: [(
        station: "#core:tag/station/construction",
        kind: shapeless((
            ingredients: [
                "core:object/trees/oak_log",
                "core:object/trees/oak_log",
                "core:object/resources/plant_fiber",
                "core:object/resources/plant_fiber",
                "core:object/resources/plant_fiber",
            ],
        )),
        output: (item: "core:object/stations/armor_workbench", count: 1),
    )],
)
