// Campfire — cooks food slowly; emits warm light.
Object(
    name: "Campfire",
    tags: ["#core:tag/station/campfire", "#core:tag/block/furniture", "#core:tag/block/light_source", "#core:tag/material/flammable"],

    block: (
        texture: all("blocks/campfire/all"),
        render: opaque,
        hardness: 2.0,
        sound: wood,
    ),

    item: (
        stack: 1,
        category: station,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    light: (
        level: 15,
        flicker: true,
        colour: (1.0, 0.6, 0.2),
    ),

    station: (
        type: processor,
        slots: 4,
    ),

    mining: (
        tool: axe,
        drops: [(item: "core:object/resources/coal", count: 2)],
    ),

    recipes: [(
        station: "#core:tag/station/construction",
        kind: shapeless((
            ingredients: ["core:object/trees/oak_log", "core:object/trees/oak_log", "core:object/resources/coal"],
        )),
        output: (item: "core:object/stations/campfire", count: 1),
    )],
)
