// Chest — 27-slot storage container.
Object(
    name: "Chest",
    tags: ["#core:tag/block/storage", "#core:tag/block/furniture", "#core:tag/material/wood"],

    block: (
        texture: cube(
            top:    "blocks/chest/top",
            front:  "blocks/chest/front",
            side:   "blocks/chest/side",
            bottom: "blocks/chest/bottom",
        ),
        render: opaque,
        hardness: 2.5,
        sound: wood,
    ),

    item: (
        stack: 1,
        category: station,
        visible_in_inventory: true,
        inventory_icon: block,
    ),

    storage: (
        slots: 27,
        persistent: true,
    ),

    mining: (
        tool: axe,
    ),

    recipes: [(
        station: "#core:tag/station/construction",
        kind: shaped((
            pattern: [
                "LLL",
                "L L",
                "LLL",
            ],
            legend: { "L": "core:object/trees/oak_log" },
        )),
        output: (item: "core:object/stations/chest", count: 1),
    )],
)
