RenderTechnique(
    label: "UI Flat",
    pass: "ui",
    stages: (
        vertex: "core:render/shader_modules/voxel/terrain_vertex",
        fragment: Some("core:render/shader_modules/debug/ui_flat"),
    ),
    vertex_layout: "ui_flat",
    material_family: "core:render/material_families/sky",
    contracts: [
        "core:render/shader_contracts/frame_globals",
        "core:render/shader_contracts/planet_globals",
    ],
    depth: (write: false, compare: always),
    culling: none,
    blend: alpha_blend,
    outputs: [
        "main_color",
    ],
    features: [
        "ui_flat",
    ],
    profile_overrides: [],
)

