RawBlockDef(
    display_name: "Acacia Leaves",
    solid: true,
    color: (0.55, 0.62, 0.30),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        tint: (1.20, 1.30, 0.70),
        all: Some((
            albedo: "core:blocks/oak_leaves/oak_leaves_all_albedo",
            normal: "core:blocks/oak_leaves/oak_leaves_all_normal",
            roughness: "core:blocks/oak_leaves/oak_leaves_all_roughness",
        )),
    )),
)
