RawBlockDef(
    display_name: "Allium",
    solid: true,
    color: (0.67, 0.29, 0.79),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/allium/allium_all_albedo",
            normal: "core:blocks/allium/allium_all_normal",
            roughness: "core:blocks/allium/allium_all_roughness",        )),
    )),
)


