RawBlockDef(
    display_name: "Bamboo Planks",
    solid: true,
    color: (0.78, 0.69, 0.31),
    hardness: 1.5,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/bamboo_planks/bamboo_planks_all_albedo",
            normal: "core:blocks/bamboo_planks/bamboo_planks_all_normal",
            roughness: "core:blocks/bamboo_planks/bamboo_planks_all_roughness",        )),
    )),
)


