RawBlockDef(
    display_name: "Bamboo Block",
    solid: true,
    color: (0.50, 0.56, 0.22),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/bamboo_block/bamboo_block_top_albedo",
            normal: "core:blocks/bamboo_block/bamboo_block_top_normal",
            roughness: "core:blocks/bamboo_block/bamboo_block_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/bamboo_block/bamboo_block_top_albedo",
            normal: "core:blocks/bamboo_block/bamboo_block_top_normal",
            roughness: "core:blocks/bamboo_block/bamboo_block_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/bamboo_block/bamboo_block_side_albedo",
            normal: "core:blocks/bamboo_block/bamboo_block_side_normal",
            roughness: "core:blocks/bamboo_block/bamboo_block_side_roughness",        )),
    )),
)


