RawBlockDef(
    display_name: "Birch Leaves",
    solid: true,
    color: (0.77, 0.77, 0.35),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/birch_leaves/birch_leaves_all_albedo",
            normal: "core:blocks/birch_leaves/birch_leaves_all_normal",
            roughness: "core:blocks/birch_leaves/birch_leaves_all_roughness",        )),
    )),
)


