RawBlockDef(
    display_name: "Black Glazed Terracotta",
    solid: true,
    color: (0.31, 0.15, 0.16),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/black_glazed_terracotta/black_glazed_terracotta_all_albedo",
            normal: "core:blocks/black_glazed_terracotta/black_glazed_terracotta_all_normal",
            roughness: "core:blocks/black_glazed_terracotta/black_glazed_terracotta_all_roughness",        )),
    )),
)


