RawBlockDef(
    display_name: "Black Concrete Powder",
    solid: true,
    color: (0.08, 0.08, 0.11),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/black_concrete_powder/black_concrete_powder_all_albedo",
            normal: "core:blocks/black_concrete_powder/black_concrete_powder_all_normal",
            roughness: "core:blocks/black_concrete_powder/black_concrete_powder_all_roughness",        )),
    )),
)


