RawBlockDef(
    display_name: "Black Shulker Box",
    solid: true,
    color: (0.11, 0.11, 0.13),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/black_shulker_box/black_shulker_box_all_albedo",
            normal: "core:blocks/black_shulker_box/black_shulker_box_all_normal",
            roughness: "core:blocks/black_shulker_box/black_shulker_box_all_roughness",        )),
    )),
)


