RawBlockDef(
    display_name: "Blue Wool",
    solid: true,
    color: (0.21, 0.22, 0.61),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/blue_wool/blue_wool_all_albedo",
            normal: "core:blocks/blue_wool/blue_wool_all_normal",
            roughness: "core:blocks/blue_wool/blue_wool_all_roughness",        )),
    )),
)


