RawBlockDef(
    display_name: "Blue Glazed Terracotta",
    solid: true,
    color: (0.21, 0.27, 0.58),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/blue_glazed_terracotta/blue_glazed_terracotta_all_albedo",
            normal: "core:blocks/blue_glazed_terracotta/blue_glazed_terracotta_all_normal",
            roughness: "core:blocks/blue_glazed_terracotta/blue_glazed_terracotta_all_roughness",        )),
    )),
)


