RawBlockDef(
    display_name: "Blue Shulker Box",
    solid: true,
    color: (0.18, 0.19, 0.57),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/blue_shulker_box/blue_shulker_box_all_albedo",
            normal: "core:blocks/blue_shulker_box/blue_shulker_box_all_normal",
            roughness: "core:blocks/blue_shulker_box/blue_shulker_box_all_roughness",        )),
    )),
)


