RawBlockDef(
    display_name: "Blue Candle",
    solid: true,
    color: (0.22, 0.29, 0.63),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/blue_candle/blue_candle_all_albedo",
            normal: "core:blocks/blue_candle/blue_candle_all_normal",
            roughness: "core:blocks/blue_candle/blue_candle_all_roughness",        )),
    )),
)


