RawBlockDef(
    display_name: "Blue Terracotta",
    solid: true,
    color: (0.31, 0.24, 0.38),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/blue_terracotta/blue_terracotta_all_albedo",
            normal: "core:blocks/blue_terracotta/blue_terracotta_all_normal",
            roughness: "core:blocks/blue_terracotta/blue_terracotta_all_roughness",        )),
    )),
)


