RawBlockDef(
    display_name: "Brown Wool",
    solid: true,
    color: (0.45, 0.28, 0.16),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/brown_wool/brown_wool_all_albedo",
            normal: "core:blocks/brown_wool/brown_wool_all_normal",
            roughness: "core:blocks/brown_wool/brown_wool_all_roughness",        )),
    )),
)


