RawBlockDef(
    display_name: "Bubble Coral Block",
    solid: true,
    color: (0.68, 0.09, 0.65),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/bubble_coral_block/bubble_coral_block_all_albedo",
            normal: "core:blocks/bubble_coral_block/bubble_coral_block_all_normal",
            roughness: "core:blocks/bubble_coral_block/bubble_coral_block_all_roughness",        )),
    )),
)


