RawBlockDef(
    display_name: "Budding Amethyst",
    solid: true,
    color: (0.46, 0.30, 0.71),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/budding_amethyst/budding_amethyst_all_albedo",
            normal: "core:blocks/budding_amethyst/budding_amethyst_all_normal",
            roughness: "core:blocks/budding_amethyst/budding_amethyst_all_roughness",        )),
    )),
)


