RawBlockDef(
    display_name: "Cherry Planks",
    solid: true,
    color: (0.88, 0.67, 0.65),
    hardness: 1.5,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/cherry_planks/cherry_planks_all_albedo",
            normal: "core:blocks/cherry_planks/cherry_planks_all_normal",
            roughness: "core:blocks/cherry_planks/cherry_planks_all_roughness",        )),
    )),
)


