RawBlockDef(
    display_name: "Chiseled Nether Bricks",
    solid: true,
    color: (0.20, 0.10, 0.12),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/chiseled_nether_bricks/chiseled_nether_bricks_all_albedo",
            normal: "core:blocks/chiseled_nether_bricks/chiseled_nether_bricks_all_normal",
            roughness: "core:blocks/chiseled_nether_bricks/chiseled_nether_bricks_all_roughness",        )),
    )),
)


