RawBlockDef(
    display_name: "Chiseled Tuff Bricks",
    solid: true,
    color: (0.34, 0.37, 0.36),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_albedo",
            normal: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_normal",
            roughness: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_albedo",
            normal: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_normal",
            roughness: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_side_albedo",
            normal: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_side_normal",
            roughness: "core:blocks/chiseled_tuff_bricks/chiseled_tuff_bricks_side_roughness",        )),
    )),
)


