RawBlockDef(
    display_name: "Chiseled Resin Bricks",
    solid: true,
    color: (0.80, 0.32, 0.08),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/chiseled_resin_bricks/chiseled_resin_bricks_all_albedo",
            normal: "core:blocks/chiseled_resin_bricks/chiseled_resin_bricks_all_normal",
            roughness: "core:blocks/chiseled_resin_bricks/chiseled_resin_bricks_all_roughness",        )),
    )),
)


