RawBlockDef(
    display_name: "Chiseled Bookshelf Occupied",
    solid: true,
    color: (0.54, 0.42, 0.34),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/chiseled_bookshelf_occupied/chiseled_bookshelf_occupied_all_albedo",
            normal: "core:blocks/chiseled_bookshelf_occupied/chiseled_bookshelf_occupied_all_normal",
            roughness: "core:blocks/chiseled_bookshelf_occupied/chiseled_bookshelf_occupied_all_roughness",        )),
    )),
)


