RawBlockDef(
    display_name: "Chiseled Tuff",
    solid: true,
    color: (0.29, 0.32, 0.29),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/chiseled_tuff/chiseled_tuff_top_albedo",
            normal: "core:blocks/chiseled_tuff/chiseled_tuff_top_normal",
            roughness: "core:blocks/chiseled_tuff/chiseled_tuff_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/chiseled_tuff/chiseled_tuff_top_albedo",
            normal: "core:blocks/chiseled_tuff/chiseled_tuff_top_normal",
            roughness: "core:blocks/chiseled_tuff/chiseled_tuff_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/chiseled_tuff/chiseled_tuff_side_albedo",
            normal: "core:blocks/chiseled_tuff/chiseled_tuff_side_normal",
            roughness: "core:blocks/chiseled_tuff/chiseled_tuff_side_roughness",        )),
    )),
)


