RawBlockDef(
    display_name: "Chiseled Deepslate",
    solid: true,
    color: (0.28, 0.28, 0.28),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/chiseled_deepslate/chiseled_deepslate_all_albedo",
            normal: "core:blocks/chiseled_deepslate/chiseled_deepslate_all_normal",
            roughness: "core:blocks/chiseled_deepslate/chiseled_deepslate_all_roughness",        )),
    )),
)


