RawBlockDef(
    display_name: "Cobblestone",
    solid: true,
    color: (0.45, 0.45, 0.45),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/cobblestone/cobblestone_all_albedo",
            normal: "core:blocks/cobblestone/cobblestone_all_normal",
            roughness: "core:blocks/cobblestone/cobblestone_all_roughness",        )),
    )),
)


