RawBlockDef(
    display_name: "Cracked Deepslate Tiles",
    solid: true,
    color: (0.25, 0.25, 0.25),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/cracked_deepslate_tiles/cracked_deepslate_tiles_all_albedo",
            normal: "core:blocks/cracked_deepslate_tiles/cracked_deepslate_tiles_all_normal",
            roughness: "core:blocks/cracked_deepslate_tiles/cracked_deepslate_tiles_all_roughness",        )),
    )),
)


