RawBlockDef(
    display_name: "Creaking Heart Awake",
    solid: true,
    color: (0.67, 0.36, 0.16),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/creaking_heart_awake/creaking_heart_awake_all_albedo",
            normal: "core:blocks/creaking_heart_awake/creaking_heart_awake_all_normal",
            roughness: "core:blocks/creaking_heart_awake/creaking_heart_awake_all_roughness",        )),
    )),
)


