RawBlockDef(
    display_name: "Cut Red Sandstone",
    solid: true,
    color: (0.73, 0.39, 0.11),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/cut_red_sandstone/cut_red_sandstone_all_albedo",
            normal: "core:blocks/cut_red_sandstone/cut_red_sandstone_all_normal",
            roughness: "core:blocks/cut_red_sandstone/cut_red_sandstone_all_roughness",        )),
    )),
)


