RawBlockDef(
    display_name: "Dark Oak Leaves",
    solid: true,
    color: (0.16, 0.34, 0.18),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        tint: (0.45, 0.85, 0.45),
        all: Some((
            albedo: "core:blocks/oak_leaves/oak_leaves_all_albedo",
            normal: "core:blocks/oak_leaves/oak_leaves_all_normal",
            roughness: "core:blocks/oak_leaves/oak_leaves_all_roughness",
        )),
    )),
)
