RawBlockDef(
    display_name: "Dark Oak Planks",
    solid: true,
    color: (0.25, 0.16, 0.08),
    hardness: 1.5,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/dark_oak_planks/dark_oak_planks_all_albedo",
            normal: "core:blocks/dark_oak_planks/dark_oak_planks_all_normal",
            roughness: "core:blocks/dark_oak_planks/dark_oak_planks_all_roughness",        )),
    )),
)


