RawBlockDef(
    display_name: "Dead Bush",
    solid: true,
    color: (0.55, 0.37, 0.15),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/dead_bush/dead_bush_all_albedo",
            normal: "core:blocks/dead_bush/dead_bush_all_normal",
            roughness: "core:blocks/dead_bush/dead_bush_all_roughness",        )),
    )),
)


