RawBlockDef(
    display_name: "Dead Horn Coral",
    solid: true,
    color: (0.58, 0.55, 0.54),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/dead_horn_coral/dead_horn_coral_all_albedo",
            normal: "core:blocks/dead_horn_coral/dead_horn_coral_all_normal",
            roughness: "core:blocks/dead_horn_coral/dead_horn_coral_all_roughness",        )),
    )),
)


