RawBlockDef(
    display_name: "Deepslate Redstone Ore",
    solid: true,
    color: (0.44, 0.30, 0.30),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/deepslate_redstone_ore/deepslate_redstone_ore_all_albedo",
            normal: "core:blocks/deepslate_redstone_ore/deepslate_redstone_ore_all_normal",
            roughness: "core:blocks/deepslate_redstone_ore/deepslate_redstone_ore_all_roughness",        )),
    )),
)


