RawBlockDef(
    display_name: "Deepslate Lapis Ore",
    solid: true,
    color: (0.30, 0.34, 0.43),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/deepslate_lapis_ore/deepslate_lapis_ore_all_albedo",
            normal: "core:blocks/deepslate_lapis_ore/deepslate_lapis_ore_all_normal",
            roughness: "core:blocks/deepslate_lapis_ore/deepslate_lapis_ore_all_roughness",        )),
    )),
)


