RawBlockDef(
    display_name: "Deepslate Diamond Ore",
    solid: true,
    color: (0.32, 0.41, 0.41),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/deepslate_diamond_ore/deepslate_diamond_ore_all_albedo",
            normal: "core:blocks/deepslate_diamond_ore/deepslate_diamond_ore_all_normal",
            roughness: "core:blocks/deepslate_diamond_ore/deepslate_diamond_ore_all_roughness",        )),
    )),
)


