RawBlockDef(
    display_name: "Diamond Ore",
    solid: true,
    color: (0.47, 0.56, 0.55),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/diamond_ore/diamond_ore_all_albedo",
            normal: "core:blocks/diamond_ore/diamond_ore_all_normal",
            roughness: "core:blocks/diamond_ore/diamond_ore_all_roughness",        )),
    )),
)


