RawBlockDef(
    display_name: "Dropper Front Vertical",
    solid: true,
    color: (0.36, 0.36, 0.36),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/dropper_front_vertical/dropper_front_vertical_all_albedo",
            normal: "core:blocks/dropper_front_vertical/dropper_front_vertical_all_normal",
            roughness: "core:blocks/dropper_front_vertical/dropper_front_vertical_all_roughness",        )),
    )),
)


