RawBlockDef(
    display_name: "End Rod",
    solid: true,
    color: (0.88, 0.86, 0.85),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/end_rod/end_rod_all_albedo",
            normal: "core:blocks/end_rod/end_rod_all_normal",
            roughness: "core:blocks/end_rod/end_rod_all_roughness",        )),
    )),
)


