RawBlockDef(
    display_name: "Exposed Copper Grate",
    solid: true,
    color: (0.60, 0.49, 0.38),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/exposed_copper_grate/exposed_copper_grate_all_albedo",
            normal: "core:blocks/exposed_copper_grate/exposed_copper_grate_all_normal",
            roughness: "core:blocks/exposed_copper_grate/exposed_copper_grate_all_roughness",        )),
    )),
)


