RawBlockDef(
    display_name: "Exposed Chiseled Copper",
    solid: true,
    color: (0.59, 0.47, 0.37),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/exposed_chiseled_copper/exposed_chiseled_copper_all_albedo",
            normal: "core:blocks/exposed_chiseled_copper/exposed_chiseled_copper_all_normal",
            roughness: "core:blocks/exposed_chiseled_copper/exposed_chiseled_copper_all_roughness",        )),
    )),
)


