RawBlockDef(
    display_name: "Farmland",
    solid: true,
    color: (0.59, 0.33, 0.19),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/farmland/farmland_all_albedo",
            normal: "core:blocks/farmland/farmland_all_normal",
            roughness: "core:blocks/farmland/farmland_all_roughness",        )),
    )),
)


