RawBlockDef(
    display_name: "Granite",
    solid: true,
    color: (0.64, 0.44, 0.36),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/granite/granite_all_albedo",
            normal: "core:blocks/granite/granite_all_normal",
            roughness: "core:blocks/granite/granite_all_roughness",        )),
    )),
)


