RawBlockDef(
    display_name: "Gray Concrete",
    solid: true,
    color: (0.22, 0.23, 0.24),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/gray_concrete/gray_concrete_all_albedo",
            normal: "core:blocks/gray_concrete/gray_concrete_all_normal",
            roughness: "core:blocks/gray_concrete/gray_concrete_all_roughness",        )),
    )),
)


