RawBlockDef(
    display_name: "Green Concrete",
    solid: true,
    color: (0.29, 0.36, 0.14),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/green_concrete/green_concrete_all_albedo",
            normal: "core:blocks/green_concrete/green_concrete_all_normal",
            roughness: "core:blocks/green_concrete/green_concrete_all_roughness",        )),
    )),
)


