RawBlockDef(
    display_name: "Green Concrete Powder",
    solid: true,
    color: (0.38, 0.46, 0.19),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/green_concrete_powder/green_concrete_powder_all_albedo",
            normal: "core:blocks/green_concrete_powder/green_concrete_powder_all_normal",
            roughness: "core:blocks/green_concrete_powder/green_concrete_powder_all_roughness",        )),
    )),
)


