RawBlockDef(
    display_name: "Green Shulker Box",
    solid: true,
    color: (0.32, 0.41, 0.12),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/green_shulker_box/green_shulker_box_all_albedo",
            normal: "core:blocks/green_shulker_box/green_shulker_box_all_normal",
            roughness: "core:blocks/green_shulker_box/green_shulker_box_all_roughness",        )),
    )),
)


