RawBlockDef(
    display_name: "Grindstone",
    solid: true,
    color: (0.55, 0.55, 0.55),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/grindstone/grindstone_side_albedo",
            normal: "core:blocks/grindstone/grindstone_side_normal",
            roughness: "core:blocks/grindstone/grindstone_side_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/grindstone/grindstone_side_albedo",
            normal: "core:blocks/grindstone/grindstone_side_normal",
            roughness: "core:blocks/grindstone/grindstone_side_roughness",        )),
        side: Some((
            albedo: "core:blocks/grindstone/grindstone_side_albedo",
            normal: "core:blocks/grindstone/grindstone_side_normal",
            roughness: "core:blocks/grindstone/grindstone_side_roughness",        )),
    )),
)


