RawBlockDef(
    display_name: "Grindstone Pivot",
    solid: true,
    color: (0.24, 0.18, 0.11),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/grindstone_pivot/grindstone_pivot_all_albedo",
            normal: "core:blocks/grindstone_pivot/grindstone_pivot_all_normal",
            roughness: "core:blocks/grindstone_pivot/grindstone_pivot_all_roughness",        )),
    )),
)


