RawBlockDef(
    display_name: "Iron Bars",
    solid: true,
    color: (0.52, 0.52, 0.52),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/iron_bars/iron_bars_all_albedo",
            normal: "core:blocks/iron_bars/iron_bars_all_normal",
            roughness: "core:blocks/iron_bars/iron_bars_all_roughness",        )),
    )),
)


