RawBlockDef(
    display_name: "Jukebox",
    solid: true,
    color: (0.33, 0.19, 0.14),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/jukebox/jukebox_top_albedo",
            normal: "core:blocks/jukebox/jukebox_top_normal",
            roughness: "core:blocks/jukebox/jukebox_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/jukebox/jukebox_top_albedo",
            normal: "core:blocks/jukebox/jukebox_top_normal",
            roughness: "core:blocks/jukebox/jukebox_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/jukebox/jukebox_side_albedo",
            normal: "core:blocks/jukebox/jukebox_side_normal",
            roughness: "core:blocks/jukebox/jukebox_side_roughness",        )),
    )),
)


