RawBlockDef(
    display_name: "Jungle Leaves",
    solid: true,
    color: (0.42, 0.46, 0.38),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/jungle_leaves/jungle_leaves_all_albedo",
            normal: "core:blocks/jungle_leaves/jungle_leaves_all_normal",
            roughness: "core:blocks/jungle_leaves/jungle_leaves_all_roughness",        )),
    )),
)


