RawBlockDef(
    display_name: "Lapis Block",
    solid: true,
    color: (0.11, 0.25, 0.51),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lapis_block/lapis_block_all_albedo",
            normal: "core:blocks/lapis_block/lapis_block_all_normal",
            roughness: "core:blocks/lapis_block/lapis_block_all_roughness",        )),
    )),
)


