RawBlockDef(
    display_name: "Light Blue Candle",
    solid: true,
    color: (0.13, 0.53, 0.78),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/light_blue_candle/light_blue_candle_all_albedo",
            normal: "core:blocks/light_blue_candle/light_blue_candle_all_normal",
            roughness: "core:blocks/light_blue_candle/light_blue_candle_all_roughness",        )),
    )),
)


