RawBlockDef(
    display_name: "Light Gray Concrete",
    solid: true,
    color: (0.49, 0.49, 0.45),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/light_gray_concrete/light_gray_concrete_all_albedo",
            normal: "core:blocks/light_gray_concrete/light_gray_concrete_all_normal",
            roughness: "core:blocks/light_gray_concrete/light_gray_concrete_all_roughness",        )),
    )),
)


