RawBlockDef(
    display_name: "Light Gray Concrete Powder",
    solid: true,
    color: (0.53, 0.53, 0.51),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/light_gray_concrete_powder/light_gray_concrete_powder_all_albedo",
            normal: "core:blocks/light_gray_concrete_powder/light_gray_concrete_powder_all_normal",
            roughness: "core:blocks/light_gray_concrete_powder/light_gray_concrete_powder_all_roughness",        )),
    )),
)


