RawBlockDef(
    display_name: "Light Gray Glazed Terracotta",
    solid: true,
    color: (0.57, 0.65, 0.66),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/light_gray_glazed_terracotta/light_gray_glazed_terracotta_all_albedo",
            normal: "core:blocks/light_gray_glazed_terracotta/light_gray_glazed_terracotta_all_normal",
            roughness: "core:blocks/light_gray_glazed_terracotta/light_gray_glazed_terracotta_all_roughness",        )),
    )),
)


