RawBlockDef(
    display_name: "Light Gray Wool",
    solid: true,
    color: (0.59, 0.59, 0.56),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/light_gray_wool/light_gray_wool_all_albedo",
            normal: "core:blocks/light_gray_wool/light_gray_wool_all_normal",
            roughness: "core:blocks/light_gray_wool/light_gray_wool_all_roughness",        )),
    )),
)


