RawBlockDef(
    display_name: "Lily Pad",
    solid: true,
    color: (0.73, 0.74, 0.65),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lily_pad/lily_pad_all_albedo",
            normal: "core:blocks/lily_pad/lily_pad_all_normal",
            roughness: "core:blocks/lily_pad/lily_pad_all_roughness",        )),
    )),
)


