RawBlockDef(
    display_name: "Lily Of The Valley",
    solid: true,
    color: (0.41, 0.65, 0.31),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lily_of_the_valley/lily_of_the_valley_all_albedo",
            normal: "core:blocks/lily_of_the_valley/lily_of_the_valley_all_normal",
            roughness: "core:blocks/lily_of_the_valley/lily_of_the_valley_all_roughness",        )),
    )),
)


