RawBlockDef(
    display_name: "Lime Concrete",
    solid: true,
    color: (0.36, 0.66, 0.09),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lime_concrete/lime_concrete_all_albedo",
            normal: "core:blocks/lime_concrete/lime_concrete_all_normal",
            roughness: "core:blocks/lime_concrete/lime_concrete_all_roughness",        )),
    )),
)


