RawBlockDef(
    display_name: "Lime Terracotta",
    solid: true,
    color: (0.41, 0.47, 0.21),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lime_terracotta/lime_terracotta_all_albedo",
            normal: "core:blocks/lime_terracotta/lime_terracotta_all_normal",
            roughness: "core:blocks/lime_terracotta/lime_terracotta_all_roughness",        )),
    )),
)


