RawBlockDef(
    display_name: "Lime Stained Glass",
    solid: true,
    color: (0.51, 0.87, 0.04),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lime_stained_glass/lime_stained_glass_all_albedo",
            normal: "core:blocks/lime_stained_glass/lime_stained_glass_all_normal",
            roughness: "core:blocks/lime_stained_glass/lime_stained_glass_all_roughness",        )),
    )),
)


