RawBlockDef(
    display_name: "Lime Concrete Powder",
    solid: true,
    color: (0.52, 0.77, 0.17),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/lime_concrete_powder/lime_concrete_powder_all_albedo",
            normal: "core:blocks/lime_concrete_powder/lime_concrete_powder_all_normal",
            roughness: "core:blocks/lime_concrete_powder/lime_concrete_powder_all_roughness",        )),
    )),
)


