RawBlockDef(
    display_name: "Mangrove Leaves",
    solid: true,
    color: (0.71, 0.71, 0.71),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/mangrove_leaves/mangrove_leaves_all_albedo",
            normal: "core:blocks/mangrove_leaves/mangrove_leaves_all_normal",
            roughness: "core:blocks/mangrove_leaves/mangrove_leaves_all_roughness",        )),
    )),
)


