RawBlockDef(
    display_name: "Mud",
    solid: true,
    color: (0.23, 0.21, 0.20),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/mud/mud_all_albedo",
            normal: "core:blocks/mud/mud_all_normal",
            roughness: "core:blocks/mud/mud_all_roughness",        )),
    )),
)


