RawBlockDef(
    display_name: "Mud Bricks",
    solid: true,
    color: (0.55, 0.42, 0.31),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/mud_bricks/mud_bricks_all_albedo",
            normal: "core:blocks/mud_bricks/mud_bricks_all_normal",
            roughness: "core:blocks/mud_bricks/mud_bricks_all_roughness",        )),
    )),
)


