RawBlockDef(
    display_name: "Netherrack",
    solid: true,
    color: (0.47, 0.22, 0.22),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/netherrack/netherrack_all_albedo",
            normal: "core:blocks/netherrack/netherrack_all_normal",
            roughness: "core:blocks/netherrack/netherrack_all_roughness",        )),
    )),
)


