RawBlockDef(
    display_name: "Note Block",
    solid: true,
    color: (0.33, 0.19, 0.14),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/note_block/note_block_all_albedo",
            normal: "core:blocks/note_block/note_block_all_normal",
            roughness: "core:blocks/note_block/note_block_all_roughness",        )),
    )),
)


