RawBlockDef(
    display_name: "Orange Tulip",
    solid: true,
    color: (0.46, 0.65, 0.11),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/orange_tulip/orange_tulip_all_albedo",
            normal: "core:blocks/orange_tulip/orange_tulip_all_normal",
            roughness: "core:blocks/orange_tulip/orange_tulip_all_roughness",        )),
    )),
)


