RawBlockDef(
    display_name: "Packed Ice",
    solid: true,
    color: (0.68, 0.80, 1.00),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/packed_ice/packed_ice_all_albedo",
            normal: "core:blocks/packed_ice/packed_ice_all_normal",
            roughness: "core:blocks/packed_ice/packed_ice_all_roughness",        )),
    )),
)


