RawBlockDef(
    display_name: "Pale Hanging Moss Tip",
    solid: true,
    color: (0.43, 0.45, 0.42),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/pale_hanging_moss_tip/pale_hanging_moss_tip_all_albedo",
            normal: "core:blocks/pale_hanging_moss_tip/pale_hanging_moss_tip_all_normal",
            roughness: "core:blocks/pale_hanging_moss_tip/pale_hanging_moss_tip_all_roughness",        )),
    )),
)


