RawBlockDef(
    display_name: "Podzol",
    solid: true,
    color: (0.55, 0.37, 0.18),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/podzol/podzol_top_albedo",
            normal: "core:blocks/podzol/podzol_top_normal",
            roughness: "core:blocks/podzol/podzol_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/podzol/podzol_top_albedo",
            normal: "core:blocks/podzol/podzol_top_normal",
            roughness: "core:blocks/podzol/podzol_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/podzol/podzol_side_albedo",
            normal: "core:blocks/podzol/podzol_side_normal",
            roughness: "core:blocks/podzol/podzol_side_roughness",        )),
    )),
)


