RawBlockDef(
    display_name: "Pointed Dripstone Down Tip",
    solid: true,
    color: (0.51, 0.40, 0.35),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/pointed_dripstone_down_tip/pointed_dripstone_down_tip_all_albedo",
            normal: "core:blocks/pointed_dripstone_down_tip/pointed_dripstone_down_tip_all_normal",
            roughness: "core:blocks/pointed_dripstone_down_tip/pointed_dripstone_down_tip_all_roughness",        )),
    )),
)


