RawBlockDef(
    display_name: "Pointed Dripstone Down Tip Merge",
    solid: true,
    color: (0.52, 0.41, 0.36),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/pointed_dripstone_down_tip_merge/pointed_dripstone_down_tip_merge_all_albedo",
            normal: "core:blocks/pointed_dripstone_down_tip_merge/pointed_dripstone_down_tip_merge_all_normal",
            roughness: "core:blocks/pointed_dripstone_down_tip_merge/pointed_dripstone_down_tip_merge_all_roughness",        )),
    )),
)


