RawBlockDef(
    display_name: "Pointed Dripstone Down Base",
    solid: true,
    color: (0.50, 0.38, 0.35),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/pointed_dripstone_down_base/pointed_dripstone_down_base_all_albedo",
            normal: "core:blocks/pointed_dripstone_down_base/pointed_dripstone_down_base_all_normal",
            roughness: "core:blocks/pointed_dripstone_down_base/pointed_dripstone_down_base_all_roughness",        )),
    )),
)


