RawBlockDef(
    display_name: "Polished Tuff",
    solid: true,
    color: (0.31, 0.34, 0.30),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/polished_tuff/polished_tuff_all_albedo",
            normal: "core:blocks/polished_tuff/polished_tuff_all_normal",
            roughness: "core:blocks/polished_tuff/polished_tuff_all_roughness",        )),
    )),
)


