RawBlockDef(
    display_name: "Polished Blackstone",
    solid: true,
    color: (0.18, 0.16, 0.19),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/polished_blackstone/polished_blackstone_all_albedo",
            normal: "core:blocks/polished_blackstone/polished_blackstone_all_normal",
            roughness: "core:blocks/polished_blackstone/polished_blackstone_all_roughness",        )),
    )),
)


