RawBlockDef(
    display_name: "Purple Terracotta",
    solid: true,
    color: (0.47, 0.28, 0.39),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/purple_terracotta/purple_terracotta_all_albedo",
            normal: "core:blocks/purple_terracotta/purple_terracotta_all_normal",
            roughness: "core:blocks/purple_terracotta/purple_terracotta_all_roughness",        )),
    )),
)


