RawBlockDef(
    display_name: "Purple Glazed Terracotta",
    solid: true,
    color: (0.43, 0.18, 0.60),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/purple_glazed_terracotta/purple_glazed_terracotta_all_albedo",
            normal: "core:blocks/purple_glazed_terracotta/purple_glazed_terracotta_all_normal",
            roughness: "core:blocks/purple_glazed_terracotta/purple_glazed_terracotta_all_roughness",        )),
    )),
)


