RawBlockDef(
    display_name: "Purpur Block",
    solid: true,
    color: (0.67, 0.50, 0.67),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/purpur_block/purpur_block_all_albedo",
            normal: "core:blocks/purpur_block/purpur_block_all_normal",
            roughness: "core:blocks/purpur_block/purpur_block_all_roughness",        )),
    )),
)


