RawBlockDef(
    display_name: "Purple Stained Glass",
    solid: true,
    color: (0.50, 0.25, 0.70),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/purple_stained_glass/purple_stained_glass_all_albedo",
            normal: "core:blocks/purple_stained_glass/purple_stained_glass_all_normal",
            roughness: "core:blocks/purple_stained_glass/purple_stained_glass_all_roughness",        )),
    )),
)


