RawBlockDef(
    display_name: "Raw Copper Block",
    solid: true,
    color: (0.55, 0.39, 0.29),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/raw_copper_block/raw_copper_block_all_albedo",
            normal: "core:blocks/raw_copper_block/raw_copper_block_all_normal",
            roughness: "core:blocks/raw_copper_block/raw_copper_block_all_roughness",        )),
    )),
)


