RawBlockDef(
    display_name: "Red Concrete",
    solid: true,
    color: (0.55, 0.13, 0.13),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/red_concrete/red_concrete_all_albedo",
            normal: "core:blocks/red_concrete/red_concrete_all_normal",
            roughness: "core:blocks/red_concrete/red_concrete_all_roughness",        )),
    )),
)


