RawBlockDef(
    display_name: "Redstone Lamp",
    solid: true,
    color: (0.37, 0.21, 0.12),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/redstone_lamp/redstone_lamp_all_albedo",
            normal: "core:blocks/redstone_lamp/redstone_lamp_all_normal",
            roughness: "core:blocks/redstone_lamp/redstone_lamp_all_roughness",        )),
    )),
)


