RawBlockDef(
    display_name: "Redstone Dust Line0",
    solid: true,
    color: (1.00, 1.00, 1.00),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/redstone_dust_line0/redstone_dust_line0_all_albedo",
            normal: "core:blocks/redstone_dust_line0/redstone_dust_line0_all_normal",
            roughness: "core:blocks/redstone_dust_line0/redstone_dust_line0_all_roughness",        )),
    )),
)


