RawBlockDef(
    display_name: "Resin Bricks",
    solid: true,
    color: (0.83, 0.34, 0.08),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/resin_bricks/resin_bricks_all_albedo",
            normal: "core:blocks/resin_bricks/resin_bricks_all_normal",
            roughness: "core:blocks/resin_bricks/resin_bricks_all_roughness",        )),
    )),
)


