RawBlockDef(
    display_name: "Respawn Anchor Side4",
    solid: true,
    color: (0.21, 0.13, 0.26),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/respawn_anchor_side4/respawn_anchor_side4_all_albedo",
            normal: "core:blocks/respawn_anchor_side4/respawn_anchor_side4_all_normal",
            roughness: "core:blocks/respawn_anchor_side4/respawn_anchor_side4_all_roughness",        )),
    )),
)


