RawBlockDef(
    display_name: "Rooted Dirt",
    solid: true,
    color: (0.64, 0.44, 0.26),
    hardness: 0.6,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/rooted_dirt/rooted_dirt_all_albedo",
            normal: "core:blocks/rooted_dirt/rooted_dirt_all_normal",
            roughness: "core:blocks/rooted_dirt/rooted_dirt_all_roughness",        )),
    )),
)


