RawBlockDef(
    display_name: "Sea Pickle",
    solid: true,
    color: (0.41, 0.44, 0.18),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/sea_pickle/sea_pickle_all_albedo",
            normal: "core:blocks/sea_pickle/sea_pickle_all_normal",
            roughness: "core:blocks/sea_pickle/sea_pickle_all_roughness",        )),
    )),
)


