RawBlockDef(
    display_name: "Sniffer Egg Very Cracked West",
    solid: true,
    color: (0.35, 0.31, 0.20),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/sniffer_egg_very_cracked_west/sniffer_egg_very_cracked_west_all_albedo",
            normal: "core:blocks/sniffer_egg_very_cracked_west/sniffer_egg_very_cracked_west_all_normal",
            roughness: "core:blocks/sniffer_egg_very_cracked_west/sniffer_egg_very_cracked_west_all_roughness",        )),
    )),
)


