RawBlockDef(
    display_name: "Sniffer Egg Very Cracked South",
    solid: true,
    color: (0.36, 0.31, 0.20),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/sniffer_egg_very_cracked_south/sniffer_egg_very_cracked_south_all_albedo",
            normal: "core:blocks/sniffer_egg_very_cracked_south/sniffer_egg_very_cracked_south_all_normal",
            roughness: "core:blocks/sniffer_egg_very_cracked_south/sniffer_egg_very_cracked_south_all_roughness",        )),
    )),
)


