RawBlockDef(
    display_name: "Snow",
    solid: true,
    color: (0.88, 0.93, 0.98),
    hardness: 0.5,
    visual: Some((
        all: Some((
            albedo: "core:blocks/snow_all_albedo",
            normal: "core:blocks/snow_all_normal",
            roughness: "core:blocks/snow_all_roughness",
        )),
    )),
)
