RawBlockDef(
    display_name: "Stripped Mangrove Log",
    solid: true,
    color: (0.48, 0.18, 0.16),
    hardness: 1.5,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_albedo",
            normal: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_normal",
            roughness: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_albedo",
            normal: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_normal",
            roughness: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_side_albedo",
            normal: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_side_normal",
            roughness: "core:blocks/stripped_mangrove_log/stripped_mangrove_log_side_roughness",        )),
    )),
)


