RawBlockDef(
    display_name: "Structure Block",
    solid: true,
    color: (0.40, 0.33, 0.40),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/structure_block/structure_block_all_albedo",
            normal: "core:blocks/structure_block/structure_block_all_normal",
            roughness: "core:blocks/structure_block/structure_block_all_roughness",        )),
    )),
)


