RawBlockDef(
    display_name: "Sugar Cane",
    solid: true,
    color: (0.67, 0.86, 0.47),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/sugar_cane/sugar_cane_all_albedo",
            normal: "core:blocks/sugar_cane/sugar_cane_all_normal",
            roughness: "core:blocks/sugar_cane/sugar_cane_all_roughness",        )),
    )),
)


