RawBlockDef(
    display_name: "Suspicious Sand 3",
    solid: true,
    color: (0.83, 0.77, 0.60),
    hardness: 0.6,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/suspicious_sand_3/suspicious_sand_3_all_albedo",
            normal: "core:blocks/suspicious_sand_3/suspicious_sand_3_all_normal",
            roughness: "core:blocks/suspicious_sand_3/suspicious_sand_3_all_roughness",        )),
    )),
)


