RawBlockDef(
    display_name: "Suspicious Gravel 3",
    solid: true,
    color: (0.47, 0.45, 0.45),
    hardness: 0.6,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/suspicious_gravel_3/suspicious_gravel_3_all_albedo",
            normal: "core:blocks/suspicious_gravel_3/suspicious_gravel_3_all_normal",
            roughness: "core:blocks/suspicious_gravel_3/suspicious_gravel_3_all_roughness",        )),
    )),
)


