RawBlockDef(
    display_name: "Tall Grass",
    solid: true,
    color: (0.67, 0.67, 0.67),
    hardness: 0.6,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/tall_grass/tall_grass_top_albedo",
            normal: "core:blocks/tall_grass/tall_grass_top_normal",
            roughness: "core:blocks/tall_grass/tall_grass_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/tall_grass/tall_grass_bottom_albedo",
            normal: "core:blocks/tall_grass/tall_grass_bottom_normal",
            roughness: "core:blocks/tall_grass/tall_grass_bottom_roughness",        )),
        side: Some((
            albedo: "core:blocks/tall_grass/tall_grass_top_albedo",
            normal: "core:blocks/tall_grass/tall_grass_top_normal",
            roughness: "core:blocks/tall_grass/tall_grass_top_roughness",        )),
    )),
)


