RawBlockDef(
    display_name: "Test Block Start",
    solid: true,
    color: (0.74, 0.62, 0.48),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/test_block_start/test_block_start_all_albedo",
            normal: "core:blocks/test_block_start/test_block_start_all_normal",
            roughness: "core:blocks/test_block_start/test_block_start_all_roughness",        )),
    )),
)


