RawBlockDef(
    display_name: "Tinted Glass",
    solid: true,
    color: (0.18, 0.16, 0.18),
    hardness: 0.3,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/tinted_glass/tinted_glass_all_albedo",
            normal: "core:blocks/tinted_glass/tinted_glass_all_normal",
            roughness: "core:blocks/tinted_glass/tinted_glass_all_roughness",        )),
    )),
)


