RawBlockDef(
    display_name: "Trial Spawner Side Inactive",
    solid: true,
    color: (0.16, 0.25, 0.30),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/trial_spawner_side_inactive/trial_spawner_side_inactive_all_albedo",
            normal: "core:blocks/trial_spawner_side_inactive/trial_spawner_side_inactive_all_normal",
            roughness: "core:blocks/trial_spawner_side_inactive/trial_spawner_side_inactive_all_roughness",        )),
    )),
)


