RawBlockDef(
    display_name: "Trial Spawner Side Inactive Ominous",
    solid: true,
    color: (0.12, 0.20, 0.26),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/trial_spawner_side_inactive_ominous/trial_spawner_side_inactive_ominous_all_albedo",
            normal: "core:blocks/trial_spawner_side_inactive_ominous/trial_spawner_side_inactive_ominous_all_normal",
            roughness: "core:blocks/trial_spawner_side_inactive_ominous/trial_spawner_side_inactive_ominous_all_roughness",        )),
    )),
)


