RawBlockDef(
    display_name: "Tube Coral Block",
    solid: true,
    color: (0.18, 0.35, 0.80),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/tube_coral_block/tube_coral_block_all_albedo",
            normal: "core:blocks/tube_coral_block/tube_coral_block_all_normal",
            roughness: "core:blocks/tube_coral_block/tube_coral_block_all_roughness",        )),
    )),
)


