RawBlockDef(
    display_name: "Turtle Egg",
    solid: true,
    color: (0.90, 0.89, 0.73),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/turtle_egg/turtle_egg_all_albedo",
            normal: "core:blocks/turtle_egg/turtle_egg_all_normal",
            roughness: "core:blocks/turtle_egg/turtle_egg_all_roughness",        )),
    )),
)


