RawBlockDef(
    display_name: "Vault Top Ejecting",
    solid: true,
    color: (0.14, 0.16, 0.19),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/vault_top_ejecting/vault_top_ejecting_all_albedo",
            normal: "core:blocks/vault_top_ejecting/vault_top_ejecting_all_normal",
            roughness: "core:blocks/vault_top_ejecting/vault_top_ejecting_all_roughness",        )),
    )),
)


