RawBlockDef(
    display_name: "Vault",
    solid: true,
    color: (0.19, 0.24, 0.28),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/vault/vault_top_albedo",
            normal: "core:blocks/vault/vault_top_normal",
            roughness: "core:blocks/vault/vault_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/vault/vault_bottom_albedo",
            normal: "core:blocks/vault/vault_bottom_normal",
            roughness: "core:blocks/vault/vault_bottom_roughness",        )),
        side: Some((
            albedo: "core:blocks/vault/vault_top_albedo",
            normal: "core:blocks/vault/vault_top_normal",
            roughness: "core:blocks/vault/vault_top_roughness",        )),
    )),
)


