RawBlockDef(
    display_name: "Vault Front Ejecting Ominous",
    solid: true,
    color: (0.21, 0.29, 0.31),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/vault_front_ejecting_ominous/vault_front_ejecting_ominous_all_albedo",
            normal: "core:blocks/vault_front_ejecting_ominous/vault_front_ejecting_ominous_all_normal",
            roughness: "core:blocks/vault_front_ejecting_ominous/vault_front_ejecting_ominous_all_roughness",        )),
    )),
)


