RawBlockDef(
    display_name: "Verdant Froglight",
    solid: true,
    color: (0.86, 0.94, 0.86),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        top: Some((
            albedo: "core:blocks/verdant_froglight/verdant_froglight_top_albedo",
            normal: "core:blocks/verdant_froglight/verdant_froglight_top_normal",
            roughness: "core:blocks/verdant_froglight/verdant_froglight_top_roughness",        )),
        bottom: Some((
            albedo: "core:blocks/verdant_froglight/verdant_froglight_top_albedo",
            normal: "core:blocks/verdant_froglight/verdant_froglight_top_normal",
            roughness: "core:blocks/verdant_froglight/verdant_froglight_top_roughness",        )),
        side: Some((
            albedo: "core:blocks/verdant_froglight/verdant_froglight_side_albedo",
            normal: "core:blocks/verdant_froglight/verdant_froglight_side_normal",
            roughness: "core:blocks/verdant_froglight/verdant_froglight_side_roughness",        )),
    )),
)


