RawBlockDef(
    display_name: "Warped Wart Block",
    solid: true,
    color: (0.09, 0.51, 0.53),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/warped_wart_block/warped_wart_block_all_albedo",
            normal: "core:blocks/warped_wart_block/warped_wart_block_all_normal",
            roughness: "core:blocks/warped_wart_block/warped_wart_block_all_roughness",        )),
    )),
)


