RawBlockDef(
    display_name: "Weathered Copper Bulb",
    solid: true,
    color: (0.32, 0.49, 0.40),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/weathered_copper_bulb/weathered_copper_bulb_all_albedo",
            normal: "core:blocks/weathered_copper_bulb/weathered_copper_bulb_all_normal",
            roughness: "core:blocks/weathered_copper_bulb/weathered_copper_bulb_all_roughness",        )),
    )),
)


