RawBlockDef(
    display_name: "White Shulker Box",
    solid: true,
    color: (0.87, 0.89, 0.89),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/white_shulker_box/white_shulker_box_all_albedo",
            normal: "core:blocks/white_shulker_box/white_shulker_box_all_normal",
            roughness: "core:blocks/white_shulker_box/white_shulker_box_all_roughness",        )),
    )),
)


