RawBlockDef(
    display_name: "White Concrete",
    solid: true,
    color: (0.81, 0.83, 0.84),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/white_concrete/white_concrete_all_albedo",
            normal: "core:blocks/white_concrete/white_concrete_all_normal",
            roughness: "core:blocks/white_concrete/white_concrete_all_roughness",        )),
    )),
)


