RawBlockDef(
    display_name: "White Concrete Powder",
    solid: true,
    color: (0.91, 0.91, 0.91),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/white_concrete_powder/white_concrete_powder_all_albedo",
            normal: "core:blocks/white_concrete_powder/white_concrete_powder_all_normal",
            roughness: "core:blocks/white_concrete_powder/white_concrete_powder_all_roughness",        )),
    )),
)


