RawBlockDef(
    display_name: "Wildflowers",
    solid: true,
    color: (0.92, 0.82, 0.45),
    hardness: 1.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/wildflowers/wildflowers_all_albedo",
            normal: "core:blocks/wildflowers/wildflowers_all_normal",
            roughness: "core:blocks/wildflowers/wildflowers_all_roughness",        )),
    )),
)


