RawBlockDef(
    display_name: "Yellow Concrete Powder",
    solid: true,
    color: (0.93, 0.80, 0.22),
    hardness: 2.0,
    role: Some(default_place),
    visual: Some((
        all: Some((
            albedo: "core:blocks/yellow_concrete_powder/yellow_concrete_powder_all_albedo",
            normal: "core:blocks/yellow_concrete_powder/yellow_concrete_powder_all_normal",
            roughness: "core:blocks/yellow_concrete_powder/yellow_concrete_powder_all_roughness",        )),
    )),
)


